html {
    text-align: center; 
    font-size: 16px;
}
h2{
    text-align: center; 
    font-size: 1em; 
    color: black; 
    padding: 1em;
    font: Verdana; 
}

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

/* Navigation bar */
nav {
    background-color: rgb(36, 95, 143);
    padding-bottom: 50px;
    margin: 0px;
}

/* Navigation bar list */
nav ul {
    list-style-type: none;
    display: inline;
    overflow: hidden;
}

/* links */
a {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

/* Individual list elements */
li {
    text-decoration: none;
    float: right;
    margin-right: 15px;
}

/* Cyclist Safety Kingston text in top left*/
nav p {
    display: flex;
    float:left;
    align-items: top;
    font-weight: bold;
    color: white;
    font-size: 1.25em;
    margin-left: 2em;
}

/* link elements in list */
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 1.7em;
}

/* When hovering over each list item on navigation bar */
li a:hover:not(.about-us, .search-icon, .inputBox, .submitButton) {
    color:lightgrey;
    text-decoration: none;
    border-bottom: solid white 0.75em;
}

/* when hovering over each element on About Us */
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 62px;
}

/* contents under dropdown list */
.dropdown-content {
    display: none;
    background-color: lightskyblue;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* design for contents inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.headerPhoto {
    position: relative;
    text-align: center;
    color: white;
    bottom: 0.35em;
    height: 400px;
}

.headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    font-size: 5.5em;
    text-shadow: 3px 3px 3px black;
}

hr {
    background-color: lightslategray;
    align-self: center;
    border-style: none;
    height: 2px;
    width: 50%;
}

footer {
    position:relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding-top: 10px;
    grid-column: 1/6;
    grid-row: 6;
    background-color: #4A88C5;
    color: whitesmoke;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    font-weight: 500;
    
  }
  
  .Paragraph{
    line-height: 100%;
    max-width: 500px;
    margin: 10px auto;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials li a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 30px;
  }
  
  .socials li a:hover{
    color: #27bcda;
    border-bottom: none;
  }
  
  .footer-menu{
    margin-bottom: 5px;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
    padding-right: 10px;
    display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
    border-bottom: none;
  }


/* styling for the search icon */
.search-icon {
    background-image: url("images/search-icon-50.png");
    background-repeat: no-repeat;
    padding-left: 2.75em;
    background-position-y: 100%;
    background-size: 2em;
}

.submitButton {
    background-image: url("images/search-icon-50.png");
    background-repeat: no-repeat;
    background-size: 2em;
    background-position-y: -30%;
    padding-right: 1.3em;
}